{% extends 'base.html' %}
{% block title %}Survey{% endblock %}
{% block content %}

<body>
  <form action="/questions/2" method='POST'>
    <label for="yes_no_radio">{{question_list[2].question}}</label>
    <p>
      <input type="radio" name="options" checked>{{question_list[2].choices[0]}}</input>
    </p>
    <p>
      <input type="radio" name="options">{{question_list[2].choices[1]}}</input>
    </p>
    <a href="/questions/3" class="btn btn-primary">Next</a>
  </form>
</body>
{% endblock %}
